API_URL=https://api.gardenbar.com/api/v1
BLOG_API_URL=https://gardenbar.in/wp-json
NOTIFICATION_URL=35.154.244.49
NOTIFICATION_PORT=8085
RAZORPAY_KEY_SECRET=
RAZORPAY_KEY_ID=
GOOGLE_AUTH_CLIENT_ID=
VERSION=0.0.1
